body{
    font-family: Arial, Helvetica, sans-serif;
  }

.image{
    height: 100px;
    width: 100px;
}

/* La imagen queda mal ubicada, se ve incrustada en la mitad del texto sin ningun tipo de diseño. También genera un espacio de 100 pixeles entre una linea del parrafo y otra */