*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  margin:0px;
  padding: 0px;
}

header{
  background-color: rgb(233, 233, 233);
  padding: 0px 20px;
}

.header-items{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
}

.header-items li{
  display: flex;
  color: rgb(82, 82, 82);
}

.container{
  margin-top: 40px;
  display: flex;
  width: 600px;
  height: 100vh;
  border: 1px black solid;
  flex-wrap: wrap;
}

.box{
  height: 200px;
  width: 100px;
  display: flex;

  background-position: center;
  background-size: cover;
  /* border: 1px black solid; */
}

.box1{
  background-image: url(./images/img1.jpg);
}

.box2{
  background-image: url(./images/img2.jpg);
}

.box3{
  background-image: url(./images/img3.png);
}

.box4{
  background-image: url(./images/img4.jpg);
}

.box5{
  background-image: url(./images/img5.jpg);
}

.box6{
  background-image: url(./images/img6.jpg);
}

.box7{
  background-image: url(./images/img7.jpg);
}

.box8{
  background-image: url(./images/img8.jpg);
}

.box9{
  background-image: url(./images/img9.jpg);
}

.box10{
  background-image: url(./images/img10.jpg);
}

.box11{
  background-image: url(./images/img11.png);
}

.box12{
  background-image: url(./images/img12.jpg);
}
